@model List<Person>
<h2>List Of Persons</h2>

<h2 class="message">@TempData["Message"]</h2>

<a asp-controller="Person" asp-action="Insert" class="Linkbutton">Insert</a>
<br />
<a asp-controller="Report" asp-action="StudentsGrade" class="Linkbutton">ReportsPage</a>

<br />
<br />
<table border="1">
    <tr>
        <th>Person ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Discriminator</th>
        <th colspan="2">Actions</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonID</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Discriminator</td>
            <td>
				<a asp-controller="Person" asp-action="Update" asp-route-id="@item.PersonID" class="Linkbutton">Update</a>
			</td>
			<td>
				<a asp-controller="Person" asp-action="Delete" asp-route-id="@item.PersonID" class="Linkbutton">Delete</a>
			</td>
            
        </tr>
    }
</table>